.dc-card {
    border-radius: 1.25rem;
    cursor: pointer;
    height: 11.25rem;
    overflow: hidden;
}

.dc-card-header {
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
}

.dc-trade {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.25rem;
}

.dc-player-img-container {
    position: relative;
}

.dc-player-img {
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: 1;
    height: 12.5rem;
}

.dc-prospect-info-container {
    text-align: center;
    position: relative;
    z-index: 2;
}

.dc-prospect-name {
    text-transform: uppercase;
    margin-bottom: 0;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Add a subtle shadow */
}

.dc-prospect-info {
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Add a subtle shadow */
}

.dc-team-img {
    height: 3.75rem;
}