{% macro draft_selections_card(team) %}
<table class="table table-dark">
  <tbody>
      {% for team_pick in team.picks | sort(attribute='pick', reverse=False) %}
      {% if team_pick.prospect[0] %}
      <tr class="player-btn">
        <td class="p-0 m-0" style="background: linear-gradient(to right, #{{ team.primary_color }} 15%, rgba(0,0,0,0) 65%);"
            onmouseover="this.style.background='linear-gradient(to right, #{{ team.primary_color }} 25%, rgba(0,0,0,0) 95%)'"
            onmouseout="this.style.background='linear-gradient(to right, #{{ team.primary_color }} 15%, rgba(0,0,0,0) 65%)'"
        >
            <div class="row align-items-center p-0 m-0 prospect-table-row" style="overflow: hidden;">
                <div class="ptr-team-helmet-container">
                    <img src="{{ url_for('static', filename='img/Helmets/' + team.key + '.png') }}"
                         class="ptr-team-helmet">
                </div>
                <div class="col-2 text-center">

                </div>
                <div class="col-6 pt-2 pb-2">
                    <h6 style="text-transform: uppercase; margin-bottom: 0;">
                        {% if team_pick.prospect[0].favorite %}
                        <i id="favIcon{{team_pick.prospect[0].ID}}" class="bi bi-star-fill text-warning" data-id="{{ team_pick.prospect[0].ID }}" onclick="unfavoriteProspect(this.getAttribute('data-id'))"></i>
                        {% else %}
                        <i id="favIcon{{team_pick.prospect[0].ID}}" class="bi bi-star" data-id="{{ team_pick.prospect[0].ID }}" onclick="favoriteProspect(this.getAttribute('data-id'))"></i>
                        {% endif %}
                        <i>{{ team_pick.prospect[0].name }}
                            {% if team_pick.prospect[0].concern %}
                            <span class="text-danger">*</span>
                            {% endif %}
                        </i>
                    </h6>
                    <small style="font-weight: 200; text-transform: uppercase; margin-top: 0;">
                        <span class="badge bg-light text-dark">{{ '#' + team_pick.prospect[0].rank|string if team_pick.prospect[0].rank != 1000 else "--" }}</span>
                        {{ team_pick.prospect[0].position }}{% if team_pick.prospect[0].drafted_team %} | {{ team_pick.prospect[0].college_team.location }} {% endif %}
                    </small>
                </div>
                <div class="col-1">
                    <i type="button" class="bi bi-clipboard2-data-fill h4" data-id="{{ team_pick.prospect[0].ID }}" onclick="getProspect(this.getAttribute('data-id'))"></i>
                </div>
                <div class="col-3">
                    <div class="row"><small style="text-transform: uppercase;  margin-bottom: 0; text-align:center;">Round {{ team_pick.prospect[0].draft_pick.round }}</small></div>
                    <div class="row"><small style="font-weight: 200; text-transform: uppercase;  margin-top: 0; text-align:center;">Pick {{ team_pick.prospect[0].draft_pick.pick }}</small></div>
                    {% if team_pick.traded %}
                      <i class="bi bi-arrow-repeat text-warning ptr-trade-icon"></i>
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
    {% else %}
      <tr class="player-btn">
        <td class="p-0 m-0" style="background: linear-gradient(to right, #{{ team.primary_color }} 15%, rgba(0,0,0,0) 65%);"
            onmouseover="this.style.background='linear-gradient(to right, #{{ team.primary_color }} 25%, rgba(0,0,0,0) 95%)'"
            onmouseout="this.style.background='linear-gradient(to right, #{{ team.primary_color }} 15%, rgba(0,0,0,0) 65%)'"
        >
            <div class="row align-items-center p-0 m-0 prospect-table-row" style="overflow: hidden;">
                <div class="ptr-team-helmet-container">
                    <img src="{{ url_for('static', filename='img/Helmets/' + team.key + '.png') }}"
                         class="ptr-team-helmet">
                </div>
                <div class="col-2 text-center">

                </div>
                <div class="col-10 pt-2 pb-2">
                  <div class="row p-0 m-0">
                    <div class="col-11 p-0 m-0">
                      <h6 style="text-transform: uppercase; margin-bottom: 0;">
                        <i>Round {{ team_pick.round }}</i>
                    </h6>
                    <small style="font-weight: 200; text-transform: uppercase; margin-top: 0;">
                        Pick {{ team_pick.pick }}
                    </small>
                    </div>
                    <div class="col-1 p-0 m-0 d-flex align-content-end text-end">
                      {% if team_pick.traded %}
                      <i class="bi bi-arrow-repeat text-warning ptr-trade-icon"></i>
                    {% endif %}
                    </div>
                  </div>
                </div>
            </div>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endmacro %}