{% macro draft_pick_card(pick, current_pick) %}
{% if pick.prospect[0] %}
<div id="pick{{ pick.ID }}Container" class="col-3 p-0">
    <div class="dc-card card bg-dark" id="pick{{ pick.ID }}" data-id="{{ pick.ID }}" onclick="draftPickModal(this.getAttribute('data-id'))">
        <h6 class="dc-card-header card-header"
            style="border-bottom: none; background:#{{ pick.pick_owner.primary_color }}">
            {{ pick.round }}.{{ pick.pick }}
        </h6>
        {% if pick.traded %}
        <i class="dc-trade bi bi-arrow-repeat text-warning"></i>
        {% endif %}
        <div class="card-body" style="background:linear-gradient(to top, rgba(0,0,0,0) 30%, #{{ pick.pick_owner.primary_color }}">
            <div class="row">
                <div class="col-6 dc-player-img-container">
                    <img src="{{ url_for('static', filename='img/headshots/'+ pick.prospect[0].prospect_year|string+ '/' + pick.prospect[0].ID|string +'.png') }}"
                         onerror="this.src='{{ url_for('static', filename='img/headshots/default.png') }}'"
                         class="dc-player-img">
                </div>
                <div class="col-6">
                    <img src="{{ url_for('static', filename='img/NFL/'+ pick.pick_owner.key +'.png') }}"
                         height="60px">
                    <div class="dc-prospect-info-container">
                        <div class="row pb-0">
                            <small class="dc-prospect-name">
                                {{ pick.prospect[0].sname }}
                            </small>
                        </div>
                        <div class="row pt-0">
                            <small class="dc-prospect-info">
                                {{ pick.prospect[0].position }} | {{ pick.prospect[0].college_team.location }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div id="pick{{ pick.ID }}Container" class="col-2 p-0">
    {% if current_pick.ID == pick.ID %}
    <div class="card bg-dark border-3 border-light" id="pick{{ pick.ID }}" data-id="{{ pick.ID }}" style="border-radius: 20px; cursor: pointer; height:180px;" onclick="draftPickModal(this.getAttribute('data-id'))">
        <h6 id="pick{{ pick.ID }}CardHeader" class="card-header" style="border-bottom: none; border-top-right-radius: 20px; border-top-left-radius: 20px; background:#{{ pick.pick_owner.primary_color }}">{{ pick.round }}.{{ pick.pick }}</h6>{% if pick.traded %}<i class="bi bi-arrow-repeat text-warning" style="position: absolute; top: 5px; right: 10px;"></i>{% endif %}
        <div id="pick{{ pick.ID }}CardBody" class="card-body" style="background:linear-gradient(to top, rgba(0,0,0,0) 30%, #{{ pick.pick_owner.primary_color }}">
            <div class="d-flex align-items-center justify-content-center">
                <img src="/static/img/NFL/{{ pick.pick_owner.key }}.png" alt="Team Logo" height="60">
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center">
                <small style="font-style: italic; font-weight: 200; margin-bottom: 0;">{{ pick.pick_owner.name }}</small>
                <h5 id="pick{{ pick.ID }}CardStatus" style="color: rgb(255, 255, 255); font-weight: bold; font-style: italic;">ON THE CLOCK!</h5>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card bg-dark" id="pick{{ pick.ID }}" data-id="{{ pick.ID }}" style="border-radius: 20px; cursor: pointer; height: 180px;" onclick="draftPickModal(this.getAttribute('data-id'))">
        <h6 id="pick{{ pick.ID }}CardHeader" class="card-header" style="border-bottom: none; border-top-right-radius: 20px; border-top-left-radius: 20px; background:#{{ pick.pick_owner.primary_color }}">{{ pick.round }}.{{ pick.pick }}</h6>{% if pick.traded %}<i class="bi bi-arrow-repeat text-warning" style="position: absolute; top: 5px; right: 10px;"></i>{% endif %}
        <div id="pick{{ pick.ID }}CardBody" class="card-body" style="background:linear-gradient(to top, rgba(0,0,0,0) 30%, #{{ pick.pick_owner.primary_color }}">
            <div class="d-flex align-items-center justify-content-center">
                <img src="/static/img/NFL/{{ pick.pick_owner.key }}.png" alt="Team Logo" height="60">
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center">
                <small style="font-style: italic; font-weight: 200; margin-bottom: 0;">{{ pick.pick_owner.name }}</small>
                <h5 id="pick{{ pick.ID }}CardStatus" style="color: rgb(255, 255, 255); font-weight: bold; font-style: italic;">--</h5>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endmacro %}