{% macro prospect_row(prospect, current_pick, draftable) %}
{% if prospect.drafted_team %}
<tr data-prospect-name="{{ prospect.name|lower }}" class="player-btn">
    <td style="background:linear-gradient(to left, rgba(0,0,0,0) 35%, #{{ prospect.drafted_team.primary_color }})">
        <div class="row align-items-center">
            <div class="col-2">
                <div class="row text-center justify-content-center">
                    <h4><i>{{ prospect.rank if prospect.rank > 0 else "--" }}</i></h4>
                </div>
            </div>
            <div class="col-1"><img src="{{ url_for('static', filename='img/NFL/'+ prospect.drafted_team.key|string +'.png') }}" height="40px"></div>
            <div class="col-7" data-id="{{ prospect.ID }}" onclick="getProspect(this.getAttribute('data-id'))">
                <div class="row"><h6 style="text-transform: uppercase;  margin-bottom: 0;">{% if prospect.favorite %}<i class="bi bi-star-fill text-warning"></i> {% else %}<i class="bi bi-star"></i> {% endif %}<i>{{ prospect.name }}  {% if prospect.concern %} <span class="text-danger">*</span>{% endif %}</i></h6></div>
                <div class="row"><small style="font-weight: 200; text-transform: uppercase;  margin-top: 0;">{{ prospect.position }} | {{ prospect.drafted_team.fullname }}</small></div>
            </div>
            <div class="col-2">

            </div>
        </div>
    </td>
</tr>
{% else %}
<tr data-prospect-name="{{ prospect.name|lower }}" class="player-btn">
    <td style="background:linear-gradient(to left, rgba(0,0,0,0) 35%, #{{ prospect.college_team.primary_color if prospect.college_team else '4c8bc6' }})">
        <div class="row align-items-center">
            <div class="col-2">
                <div class="row text-center justify-content-center">
                    <h4><i>{{ prospect.rank if prospect.rank > 0 else "--" }}</i></h4>
                </div>
            </div>
            <div class="col-1">
                <img src="{{ url_for('static', filename='img/NCAA/'+ prospect.college_team.ID|string +'.png') }}"
                     onerror="this.src='{{ url_for('static', filename='img/draft_logo.png') }}'"
                     height="40px">
            </div>
            <div class="col-7" data-id="{{ prospect.ID }}" onclick="getProspect(this.getAttribute('data-id'))">
                <div class="row">
                    <h6 style="text-transform: uppercase;  margin-bottom: 0;">
                        {% if prospect.favorite %}
                        <i class="bi bi-star-fill text-warning"></i>
                        {% else %}
                        <i class="bi bi-star"></i>
                        {% endif %}
                        <i>{{ prospect.name }}
                            {% if prospect.concern %}
                            <span class="text-danger">*</span>
                            {% endif %}
                        </i>
                    </h6>
                </div>
                <div class="row">
                    <small style="font-weight: 200; text-transform: uppercase;  margin-top: 0;">
                        {{ prospect.position }}{% if prospect.college_team %} | {{ prospect.college_team.location }} {% endif %}
                    </small>
                </div>
            </div>
            <div class="col-2">
                {% if current_pick and draftable%}
                <button class="btn w-100 btn-secondary" type="button" data-pick-id="{{ current_pick.ID }}" data-id="{{ prospect.ID }}" onclick="draftProspect(this.getAttribute('data-pick-id'), this.getAttribute('data-id'))"><i>DRAFT</i></button>
                {% elif editPage %}
                {% else %}

                {% endif %}
            </div>
        </div>
    </td>
</tr>
{% endif %}
{% endmacro %}
