{% macro prospect_position_selector() %}
<div class="btn-group" id="positionSelector">
    <button id="ALL" class="btn btn-secondary pos-btn" type="button" data-pos="ALL" onclick="getPosition(this.getAttribute('data-pos'))">ALL</button>
    <button id="QB" class="btn btn-secondary pos-btn" type="button" data-pos="QB" onclick="getPosition(this.getAttribute('data-pos'))">QB</button>
    <button id="RB" class="btn btn-secondary pos-btn" type="button" data-pos="RB" onclick="getPosition(this.getAttribute('data-pos'))">RB</button>
    <button id="WR" class="btn btn-secondary pos-btn" type="button" data-pos="WR" onclick="getPosition(this.getAttribute('data-pos'))">WR</button>
    <button id="TE" class="btn btn-secondary pos-btn" type="button" data-pos="TE" onclick="getPosition(this.getAttribute('data-pos'))">TE</button>
    <button id="OL" class="btn btn-secondary pos-btn" type="button" data-pos="OL" onclick="getPosition(this.getAttribute('data-pos'))">OL</button>
    <button id="DL" class="btn btn-secondary pos-btn" type="button" data-pos="DL" onclick="getPosition(this.getAttribute('data-pos'))">DL</button>
    <button id="LB" class="btn btn-secondary pos-btn" type="button" data-pos="LB" onclick="getPosition(this.getAttribute('data-pos'))">LB</button>
    <button id="DB" class="btn btn-secondary pos-btn" type="button" data-pos="DB" onclick="getPosition(this.getAttribute('data-pos'))">DB</button>
    <button id="ST" class="btn btn-secondary pos-btn" type="button" data-pos="ST" onclick="getPosition(this.getAttribute('data-pos'))">ST</button>
</div>
{% endmacro %}