{% macro team_selector(teams, trading, tradeTeam) %}
    {% set conferences = ['AFC', 'NFC'] %}
    {% set divisions = ['North', 'East', 'South', 'West'] %}

    <div class="dropdown">
      <button class="btn w-100 btn-secondary dropdown-toggle caps" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Select Team
      </button>
      <div class="shadow dropdown-menu dropdown-menu-dark p-4 mw-50" aria-labelledby="dropdownMenuButton1">
        {% for conference in conferences %}
        <div class="row">
          {% for division in divisions %}
          <div class="col-3">
            <div class="row justify-content-center">
              {% for team in teams | sort(attribute='key') %}
              {% if team.conference == conference and team.division == division %}
              <button data-id="{{ team.ID }}" class="btn btn-small border-dark team-btn text-white" style="background:linear-gradient(to left, rgba(0,0,0,0) 5%, #{{ team.primary_color }})" {% if trading %} onclick="showTeamPicks(this.getAttribute('data-id'), '{{ tradeTeam }}' )"{% endif %}>
                <div class="row">
                  <div class="col-4">
                    <img src="{{ url_for('static', filename='img/NFL/' + team.key + '.png') }}" style="height: 30px;">
                  </div>
                  <div class="col-8 text-start align-self-center"><small class="caps">{{ team.key }}</small></div>
                </div>
              </button>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
{% endmacro %}
