<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
<div id="confirmDropProspectsModal" class="modal" tabindex="-1">
    <div class="modal-dialog bg-dark text-white">
        <div class="modal-content bg-dark" >
            <div class="modal-body bg-dark">
                <h5 class="modal-title text-danger">Drop Prospect Database?</h5>
                <p class="card-text">This will drop the entire Prospect database table, <i><b>this CANNOT be undone</b></i>. Are you sure you want to continue?</p>
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-danger" onclick="dropProspects()">Confirm</button>
            </div>
        </div>
    </div>
</div>