<div class="row p-1 flex-row flex-nowrap text-center overflow-scroll">
{% for pick in picks | sort(attribute='pick', reverse=False) %}
    {% if pick.prospect %}
        <div class="col-3 p-0">
            <div class="card bg-dark" id="pick{{ pick.ID }}" data-id="{{ pick.ID }}" style="border-radius: 20px; cursor: pointer;" onclick="draftPickModal(this.getAttribute('data-id'))">
                <h6 class="card-header" style="border-top-right-radius: 20px; border-top-left-radius: 20px; background:#{{ pick.pick_owner.primary_color }}">{{ pick.round }}.{{ pick.pick }}</h6>{% if pick.traded %}<i class="bi bi-arrow-repeat" style="position: absolute; top: 5px; right: 10px;"></i>{% endif %}
              <div class="card-body" style="background:linear-gradient(to top, rgba(0,0,0,0) 50%, #{{ pick.pick_owner.primary_color }}">
                  <div class="row">
                      <div class="col-6">
                          <img src="{{ url_for('static', filename='img/NFL/'+ pick.pick_owner.key +'.png') }}" height="60px">
                            <div class="row"><h6><strong><span id="pick{{ pick.ID }}CardPlayerName">{{ pick.prospect[0].sname }}</span></strong></h6></div>
                            <div class="row"><small><span id="pick{{ pick.ID }}CardPlayerInfo">{{ pick.prospect[0].position }} | {{ pick.prospect[0].college_team.location if pick.prospect[0].college_team else "--" }} </span></small></div>
                      </div>
                      <div class="col-6">
                            <img src="{{ url_for('static', filename='img/headshots/'+ pick.prospect[0].prospect_year|string+ '/' + pick.prospect[0].ID|string +'.png') }}" onerror="this.src='{{ url_for('static', filename='img/headshots/default.png') }}'" style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">
                      </div>
                  </div>
              </div>
    {% else %}
        <div class="col-2 p-0">
            {% if current_pick.ID == pick.ID %}
            <div class="card bg-dark border-3 border-light" id="pick{{ pick.ID }}" data-id="{{ pick.ID }}" style="border-radius: 20px; cursor: pointer;" onclick="draftPickModal(this.getAttribute('data-id'))">
            {% else %}
            <div class="card bg-dark" id="pick{{ pick.ID }}" data-id="{{ pick.ID }}" style="border-radius: 20px; cursor: pointer;" onclick="draftPickModal(this.getAttribute('data-id'))">
            {% endif %}
            <h6 class="card-header" style="border-top-right-radius: 20px; border-top-left-radius: 20px; background:#{{ pick.pick_owner.primary_color }}">{{ pick.round }}.{{ pick.pick }}</h6>{% if pick.traded %}<i class="bi bi-arrow-repeat" style="position: absolute; top: 5px; right: 10px;"></i>{% endif %}
              <div class="card-body" style="background:linear-gradient(to top, rgba(0,0,0,0) 50%, #{{ pick.pick_owner.primary_color }}">
                <img src="{{ url_for('static', filename='img/NFL/'+ pick.pick_owner.key +'.png') }}" height="60px">
                <div class="row"><small><i><span id="pick{{ pick.ID }}CardPlayerName">{{ pick.pick_owner.name }}</span></i></small></div>
                <div class="row"><h5><strong><i><span id="pick{{ pick.ID }}CardPlayerInfo">--</span></i></strong></h5></div>
              </div>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>