<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
<div id="draftPickModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg bg-dark text-white">
        <div class="modal-content bg-dark" >
            <div class="modal-body bg-dark" style="background: rgba(0,0,0,0.5);">
                <div class="row prospect-row" style="background: linear-gradient(to top, rgba(0,0,0,0) 40%, #{{ draft_pick.pick_owner.primary_color }})">
                    <div class="col-6 align-self-center">
                        <div class="row text-center">
                            <h4>{{draft_pick.pick_owner.name}} Selection</h4>
                        </div>
                        {% if draft_pick.prospect %}
                        <div class="row mt-1 p-1 text-center">
                            <small>{{ draft_pick.prospect[0].name }}</small>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8 align-self-center">
                                <div class="row p-1 text-center">
                                    <small>{{ draft_pick.prospect[0].position }}{% if draft_pick.prospect[0].college_team %} | <img src="{{ url_for('static', filename='img/NCAA/'+ draft_pick.prospect[0].college_team.ID|string +'.png') }}" onerror="this.src='{{ url_for('static', filename='img/NCAA/default.png') }}'" height="30px"> {{ draft_pick.prospect[0].college_team.fullname if draft_pick.prospect[0].college_team else "None" }} {% endif %}</small>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="row mt-1 p-1 text-center">
                            <small>--</small>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8 align-self-center">
                                <div class="row p-1 text-center">
                                    <small>--</small>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-6 align-self-center">
                        <div class="row">
                            {% if draft_pick.prospect %}
                            <img src="{{ url_for('static', filename='img/headshots/'+ draft_pick.prospect[0].ID|string +'.png') }}" onerror="this.src='{{ url_for('static', filename='img/headshots/default.png') }}'" class="img-fluid">
                            {% else %}
                            <img src="{{ url_for('static', filename='img/headshots/default.png') }}" class="img-fluid">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if draft_pick.prospect %}
            <div class="modal-footer">
                <button type="button" data-id="{{ draft_pick.ID }}" class="btn btn-sm btn-secondary" onclick="undoSelection(this.getAttribute('data-id'))">Undo Selection</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>