<!-- Jinja Macros -->
{% from '/macros/editProspectInfoCard.html' import edit_player_card %}

<div id="editProspectModal" class="modal" tabindex="-1" xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog modal-dialog-scrollable modal-xl bg-dark text-white">
    <div class="modal-content bg-dark" >
      <div class="modal-body bg-dark">
         {{ edit_player_card(prospect) }}
              <div class="row pb-1 px-3">
                  <button class="btn active btn-secondary position-relative">
                    <div class="row mt-2">
                        <div class="col"><div class="row p-1"><input id="prospectCardForty" type="text" class="form-control" value="{{ prospect.forty if prospect.forty else '' }}"></div><div class="row"><small>40-YD Dash</small></div></div>
                        <div class="col"><div class="row p-1"><input id="prospectCardVertical" type="text" class="form-control" value="{{ prospect.vertical if prospect.vertical else '' }}"></div><div class="row"><small>Vertical Jump</small></div></div>
                        <div class="col"><div class="row p-1"><input id="prospectCardBroad" type="text" class="form-control" value="{{ prospect.broad if prospect.broad else '' }}"></div><div class="row"><small>Broad Jump</small></div></div>
                        <div class="col"><div class="row p-1"><input id="prospectCardThreeCone" type="text" class="form-control" value="{{ prospect.three_cone if prospect.three_cone else '' }}"></div><div class="row"><small>3-Cone</small></div></div>
                        <div class="col"><div class="row p-1"><input id="prospectCardTwentyShuttle" type="text" class="form-control" value="{{ prospect.twenty_shuttle if prospect.twenty_shuttle else '' }}"></div><div class="row"><small>20-YD Shuttle</small></div></div>
                        <div class="col"><div class="row p-1"><input id="prospectCardBench" type="text" class="form-control" value="{{ prospect.bench if prospect.bench else '' }}"></div><div class="row"><small>Bench Press</small></div></div>
                        <div class="col"><div class="row p-1"><input id="prospectCardRAS" type="text" class="form-control" value="{{ prospect.ras if prospect.ras else '' }}"></div><div class="row"><small>RAS</small></div></div>
                    </div>
                    <span class="position-absolute top-0 start-50 translate-middle badge text-dark bg-light"><small id="statHeader">Combine Results</small></span>
                  </button>
              </div>

              <div class="row p-1 text-center">
                  <h6>Overview:</h6>
              </div>
              <div class="row p-1">
                  <textarea class="h-100 form-control form-control-sm" id="overviewForm" rows="3">{{ prospect.overview if prospect.overview else '' }}</textarea>
              </div>
              <div class="row pt-1 text-center">
                  <div class="col-6">
                      <h6>Strengths:</h6>
                      <textarea class="h-100 form-control form-control-sm" id="strengthsForm" rows="3">{{ prospect.strengths if prospect.strengths else '' }}</textarea>
                  </div>
                  <div class="col-6">
                      <h6>Weaknesses:</h6>
                      <textarea class="h-100 form-control form-control-sm" id="weaknessesForm" rows="3">{{ prospect.weaknesses if prospect.weaknesses else '' }}</textarea>
                  </div>

              </div>
          </div>
              <div class="modal-footer">
                  <button class="btn btn-sm btn-danger" type="button" data-id="{{ prospect.ID }}" onclick="deleteProspect(this.getAttribute('data-id'))"><i class="bi bi-trash3-fill"></i> Delete</button>
                  <input class="form-check-input" type="checkbox" value="" id="favoriteProspect" {% if prospect.favorite %}checked{% endif %}> Favorite
                  <input class="form-check-input" type="checkbox" value="" id="concernProspect" {% if prospect.concern %}checked{% endif %}> Concerns
                  <button data-id="{{ prospect.ID }}" type="button" class="btn btn-sm btn-secondary" onclick="saveProspect(this.getAttribute('data-id'), this.form)">Save</button>
              </div>
            </div>
        </div>
    </div>