<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
<div id="prospectModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-xl bg-dark text-white">
    <div class="modal-content bg-dark" >
        <div class="modal-body bg-dark">
            {% if prospect.drafted_team %}
            <div class="row prospect-row" style="background:linear-gradient(to top, rgba(0,0,0,0) 30%, #{{ prospect.drafted_team.primary_color }})">
                <div class="col-3 position-relative">
                    <div class="img-container">
                        <img src="{{ url_for('static', filename='img/headshots/'+ prospect.prospect_year|string + '/' + prospect.ID|string +'.png') }}"
                             onerror="this.src='{{ url_for('static', filename='img/headshots/default.png') }}'"
                             class="img-fluid player-img"
                        >
                        <img class="team-logo"
                             src="{{ url_for('static', filename='img/NFL/'+ prospect.drafted_team.key +'.png') }}"
                        >
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <div>
                        <h4 style="font-weight: 200; text-transform: uppercase;  margin-bottom: 0;"><i>{{ prospect.fname }}</i></h4>
                        <h1 style="text-transform: uppercase; margin-top: 0;"><i>{{ prospect.lname }}</i></h1>
                        <h6 style="font-weight: 200; margin-bottom: 0;">{{ prospect.position }} • {{ prospect.drafted_team.fullname }}</h6>
                        <small style="font-weight: 200; margin-top: 0;">Height: {{ prospect.height }} • Weight: {{ prospect.weight }} lbs</small>
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <div>
                        <h6 style="font-weight: 200; text-transform: uppercase;"><i>Rank:</i></h6>
                        <h6 style="font-weight: 200; text-transform: uppercase;"><i>Draft Status: </i></h6>
                        <h6 style="font-weight: 200; text-transform: uppercase;"><i>Comparison: </i></h6>
                        <h6 style="font-weight: 200; text-transform: uppercase;"><i>Role: </i></h6>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-start align-items-center">
                    <div>
                        <h6 style="text-transform: uppercase;"><i>{{ prospect.rank if prospect.rank else "--" }}</i></h6>
                        <h6 style="text-transform: uppercase;"><i>Round {{ prospect.draft_pick.round }}, Pick {{ prospect.draft_pick.pick }} </i></h6>
                        <h6 style="text-transform: uppercase;"><i>{{ prospect.comparison if prospect.comparison else "--" }}</i></h6>
                        <h6 style="text-transform: uppercase;"><i>{{ prospect.role if prospect.role else "--" }}</i></h6>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row prospect-row" style="background:linear-gradient(to top, rgba(0,0,0,0) 30%, #{{ prospect.college_team.primary_color if prospect.college_team else '4c8bc6' }})">
                <div class="col-3 position-relative">
                    <div class="img-container">
                        <img src="{{ url_for('static', filename='img/headshots/'+ prospect.prospect_year|string + '/' + prospect.ID|string +'.png') }}"
                             onerror="this.src='{{ url_for('static', filename='img/headshots/default.png') }}'"
                             class="img-fluid player-img"
                        >
                        <img class="team-logo"
                             src="{{ url_for('static', filename='img/NCAA/'+ prospect.college_team.ID|string +'.png') }}"
                        >
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <div>
                        <h4 style="font-weight: 200; text-transform: uppercase;  margin-bottom: 0;"><i>{{ prospect.fname }}</i></h4>
                        <h1 style="text-transform: uppercase; margin-top: 0;"><i>{{ prospect.lname }}</i></h1>
                        <h6 style="font-weight: 200; margin-bottom: 0;">{{ prospect.position }} • {{ prospect.college_team.fullname }}</h6>
                        <small style="font-weight: 200; margin-top: 0;">Height: {{ prospect.height }} • Weight: {{ prospect.weight }} lbs</small>
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <div>
                        <h6 style="font-weight: 200; text-transform: uppercase;"><i>Rank:</i></h6>
                        <h6 style="font-weight: 200; text-transform: uppercase;"><i>Draft Projection: </i></h6>
                        <h6 style="font-weight: 200; text-transform: uppercase;"><i>Comparison: </i></h6>
                        <h6 style="font-weight: 200; text-transform: uppercase;"><i>Role: </i></h6>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-start align-items-center">
                    <div>
                        <h6 style="text-transform: uppercase;"><i>{{ prospect.rank if prospect.rank else "--" }}</i></h6>
                        <h6 style="text-transform: uppercase;"><i>{{ prospect.projection if prospect.projection else "--" }}</i></h6>
                        <h6 style="text-transform: uppercase;"><i>{{ prospect.comparison if prospect.comparison else "--" }}</i></h6>
                        <h6 style="text-transform: uppercase;"><i>{{ prospect.role if prospect.role else "--" }}</i></h6>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row combine-stats-row justify-content-center pb-1 px-3 position-relative">
                <div class="col" style="pointer-events: none">
                    <div class="row mt-2">
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCard40Yard">{{ prospect.forty if prospect.forty else ' -- ' }}</strong></h2></div><div class="row"><small>40-YD Dash</small></div></div>
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCardVertical">{{ prospect.vertical if prospect.vertical else ' -- ' }}</strong></h2></div><div class="row"><small>Vertical Jump</small></div></div>
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCardBroad">{{ prospect.broad if prospect.broad else ' -- ' }}</strong></h2></div><div class="row"><small>Broad Jump</small></div></div>
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCardThreeCone">{{ prospect.three_cone if prospect.three_cone else ' -- ' }}</strong></h2></div><div class="row"><small>3-Cone</small></div></div>
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCardTwentyShuttle">{{ prospect.twenty_shuttle if prospect.twenty_shuttle else ' -- ' }}</strong></h2></div><div class="row"><small>20-YD Shuttle</small></div></div>
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCardBench">{{ prospect.bench if prospect.bench else ' -- ' }}</strong></h2></div><div class="row"><small>Bench Press</small></div></div>
                        <div class="col text-center"><div class="row" ><h2><strong id="prospectCardRAS">{{ prospect.ras if prospect.ras else ' -- ' }}</strong></h2></div><div class="row"><small>RAS</small></div></div>
                    </div>
                </div>
            </div>

            {% if prospect.overview %}
            <div class="row d-flex p-1 mt-2">
                <h6 class="text-center">Overview:</h6>
                <small>{{ prospect.overview }}</small>
            </div>
            {% endif %}
            <div class="row p-1 justify-content-center">
            {% if prospect.strengths %}
                <div class="col-6">
                    <div class="row p-1 text-center"><h5 class="text-center">Strengths:</h5></div>
                    <ul>
                    {% for strength in strengths %}
                      <li><small>{{ strength }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
              {% endif %}
              {% if prospect.weaknesses %}
                <div class="col-6">
                    <div class="row p-1 text-center"><h5>Weaknesses:</h5></div>
                    <ul>
                    {% for weakness in weaknesses %}
                        <li><small>{{ weakness }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
          <button data-id="{{ prospect.ID }}" type="button" class="btn btn-sm btn-secondary" onclick="editProspect(this.getAttribute('data-id'))">Edit</button>
        </div>
    </div>
  </div>
</div>
