<!-- Jinja Macros -->
{% from '/macros/prospectInfoCard.html' import player_card %}

<div id="prospectModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-xl bg-dark text-white">
    <div class="modal-content bg-dark" >
        <div class="modal-body bg-dark">
            {{ player_card(prospect) }}
            <div class="row combine-stats-row justify-content-center pb-1 px-3 position-relative">
                <div class="col" style="pointer-events: none">
                    <div class="row mt-2">
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCard40Yard">{{ prospect.forty if prospect.forty else ' -- ' }}</strong></h2></div><div class="row"><small>40-YD Dash</small></div></div>
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCardVertical">{{ prospect.vertical if prospect.vertical else ' -- ' }}</strong></h2></div><div class="row"><small>Vertical Jump</small></div></div>
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCardBroad">{{ prospect.broad if prospect.broad else ' -- ' }}</strong></h2></div><div class="row"><small>Broad Jump</small></div></div>
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCardThreeCone">{{ prospect.three_cone if prospect.three_cone else ' -- ' }}</strong></h2></div><div class="row"><small>3-Cone</small></div></div>
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCardTwentyShuttle">{{ prospect.twenty_shuttle if prospect.twenty_shuttle else ' -- ' }}</strong></h2></div><div class="row"><small>20-YD Shuttle</small></div></div>
                        <div class="col text-center"><div class="row"><h2><strong id="prospectCardBench">{{ prospect.bench if prospect.bench else ' -- ' }}</strong></h2></div><div class="row"><small>Bench Press</small></div></div>
                        <div class="col text-center"><div class="row" ><h2><strong id="prospectCardRAS">{{ prospect.ras if prospect.ras else ' -- ' }}</strong></h2></div><div class="row"><small>RAS</small></div></div>
                    </div>
                </div>
            </div>

            {% if prospect.overview %}
            <div class="row d-flex p-1 mt-2">
                <h6 class="text-center">Overview:</h6>
                <small>{{ prospect.overview }}</small>
            </div>
            {% endif %}
            <div class="row p-1 justify-content-center">
            {% if prospect.strengths %}
                <div class="col-6">
                    <div class="row p-1 text-center"><h5 class="text-center">Strengths:</h5></div>
                    <ul>
                    {% for strength in strengths %}
                      <li><small>{{ strength }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
              {% endif %}
              {% if prospect.weaknesses %}
                <div class="col-6">
                    <div class="row p-1 text-center"><h5>Weaknesses:</h5></div>
                    <ul>
                    {% for weakness in weaknesses %}
                        <li><small>{{ weakness }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
          <button data-id="{{ prospect.ID }}" type="button" class="btn btn-sm btn-secondary" onclick="editProspect(this.getAttribute('data-id'))">Edit</button>
        </div>
    </div>
  </div>
</div>
