<!-- Jinja Macros -->
{% from '/macros/prospectInfoCard.html' import player_card %}
{% from '/macros/prospectMeasurables.html' import measurables %}

<div id="prospectModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-xl bg-dark text-white">
    <div class="modal-content bg-dark" >
        <div class="modal-body bg-dark">
            {{ player_card(prospect) }}
            {{ measurables(prospect) }}
            {% if prospect.overview %}
            <div class="row d-flex p-1 mt-2">
                <h5 class="caps text-center">Overview:</h5>
                <small>{{ prospect.overview }}</small>
            </div>
            {% endif %}
            <div class="row p-1 justify-content-center">
            {% if prospect.strengths %}
                <div class="col-6">
                    <div class="row p-1 text-center"><h5 class="caps text-center">Strengths:</h5></div>
                    <ul>
                    {% for strength in strengths %}
                      <li><small>{{ strength }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
              {% endif %}
              {% if prospect.weaknesses %}
                <div class="col-6">
                    <div class="row p-1 text-center"><h5 class="caps">Weaknesses:</h5></div>
                    <ul>
                    {% for weakness in weaknesses %}
                        <li><small>{{ weakness }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
          <button data-id="{{ prospect.ID }}" type="button" class="btn btn-sm btn-secondary" onclick="editProspect(this.getAttribute('data-id'))">Edit</button>
        </div>
    </div>
  </div>
</div>
