<!-- Jinja Macros -->
{% from '/macros/draftPicksCard.html' import draft_picks_card %}

<div class="row p-2">
  <div class="row p-1">
    <div class="col-2 align-self-center">Needs:</div>
    {% for need in needs %}
    <div class="col-2">
      <button class="btn w-100 {% if need in drafted %}btn-outline-secondary{% else %}btn-secondary{% endif %}"disabled>{{ need }}</button>
    </div>
    {% endfor %}
  </div>
</div>
<!-- TEAM PICKS -->
<div class="row p-2 flex-row flex-nowrap overflow-scroll" style="height: 385px">
  {{ draft_picks_card(team) }}
</div>