<!-- Jinja Macros -->
{% from '/macros/draftSelectionsCard.html' import draft_selections_card %}

<div class="row p-2">
  <div class="row p-1">
    <div class="col-2 align-self-center light-caps">Needs:</div>
    {% for need in needs %}
    <div class="col-2">
      <button class="btn w-100 caps {% if need in drafted %}btn-outline-secondary{% else %}btn-secondary{% endif %}"disabled>{{ need }}</button>
    </div>
    {% endfor %}
  </div>
</div>
<!-- TEAM PICKS -->
<div class="row p-2 flex-row flex-nowrap overflow-scroll" style="height: 385px">
  <div id="draftPicksCard" class="card bg-dark" data-team-id="{{ team.ID }}">
      <div class="row text-white">
        {{ draft_selections_card(team) }}
      </div>
  </div>
</div>