<!-- Jinja Macros -->
{% from '/macros/draftSelectionsCard.html' import draft_selections_card %}
{% from '/macros/teamSelector.html' import team_selector %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
<div id="tradeModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl bg-dark text-white">
        <div class="modal-content bg-dark" >
            <div class="modal-body bg-dark">
                <div class="row p-1 text-center">
                    <h5 class="light-caps">Trade Picks:</h5>
                </div>
                <div class="row p-1">
                    <div class="col-6">
                        {{ team_selector(teams, True, 'Send') }}
                        {% for team in teams %}
                        <div class="team-title-send row p-1 text-center" id="team{{ team.ID }}TitleSend" hidden>
                        </div>
                        <div class="team-picks-send row p-1 justify-content-center" id="team{{ team.ID }}Send" hidden>
                            {{ draft_selections_card(team, True) }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-6">
                        {{ team_selector(teams, True, 'Rec') }}
                        {% for team in teams %}
                        <div class="team-title-rec row p-1 text-center" id="team{{ team.ID }}TitleRec" hidden>
                        </div>
                        <div class="team-picks-rec row p-1 justify-content-center" id="team{{ team.ID }}Rec" hidden>
                            {{ draft_selections_card(team, True) }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                  <button id="submitBtn" type="button" class="btn btn-sm btn-secondary" onclick="submitTrade(this.getAttribute('data-send'), this.getAttribute('data-rec'))">Submit</button>
            </div>
        </div>
    </div>
</div>