{% extends 'base.html' %}
{% block title %}
  NFL Draft Tracker
{% endblock %}
{% block content %}

<script src="{{ url_for('static', filename='js/db.js') }}"></script>
<script src="{{ url_for('static', filename='js/toasts.js') }}"></script>

<div id="mainContainer" class="container p-1 text-white">
    <div class="row">
        {{ db_Threads }}
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card m-2 bg-dark text-white">
                <div class="card-header">
                    Prospect Control
                </div>
                <div class="card-body">
                    <h5 class="card-title">Add Prospects</h5>
                    <p class="card-text">Scrape the web for prospects, measurables, etc. This will build back the database if/when dropped. Expects a draft year. </p>
                    <div class="input-group">
                        <input id="addProspectsClassInput" class="form-control" placeholder="Draft Class Year">
                        <button id="addProspectsBtn" class="btn btn-secondary" type="button" onclick="addProspects()">Add Prospects</button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Get Headshots</h5>
                    <p class="card-text">Will attempt to find and download headshots for any prospect without one.</p>
                    <a class="btn btn-secondary" onclick="getHeadshots()">Get Headshots</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Drop Prospect Database</h5>
                    <p class="card-text">Drop the entire prospect database, this cannot be undone.</p>
                    <a class="btn btn-danger" onclick="dropProspectsConfirm()">Drop Prospects</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card m-2 bg-dark text-white">
                <div class="card-header">
                    Draft Pick Control
                </div>
                <div class="card-body">
                    <h5 class="card-title">Drop Draft Pick Database</h5>
                    <p class="card-text">Drop the entire draft pick database, this cannot be undone. Picks will then have to be entered again from the <i>Draft Order</i> page.</p>
                    <a class="btn btn-danger" onclick="dropDraftPicksConfirm()">Drop Draft Picks</a>
                </div>
            </div>
            <div class="card m-2 bg-dark text-white">
                <div class="card-header">
                    Snapshots
                </div>
                <div class="card-body">
                    <h5 class="card-title">Load Historic Draft Snapshots</h5>
                    <p class="card-text">Will load supported draft snapshots, pick up in the middle of a draft or start fresh.</p>
                    <p><small><i>No Snapshot Selected.</i></small></p>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Select Snapshot
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">2018</a></li>
                                <li><a class="dropdown-item" href="#">2019</a></li>
                                <li><a class="dropdown-item" href="#">2020</a></li>
                                <li><a class="dropdown-item" href="#">2021</a></li>
                                <li><a class="dropdown-item" href="#">2022</a></li>
                                <li><a class="dropdown-item" href="#">2023</a></li>
                                <li><a class="dropdown-item" href="#">2024</a></li>
                                <li><a class="dropdown-item" href="#">2025</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-secondary" disabled>Load</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalContainer" class="container">

</div>
<div id="progressModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog bg-dark text-white">
        <div class="modal-content bg-dark">
            <div class="modal-body bg-dark">
                <div class="d-flex align-items-center">
                    <strong id="progressTitle">PLACEHOLDER</strong>
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="toastContainer" class="toast-container position-fixed bottom-0 end-0">

</div>

{% endblock %}
