{% extends 'base.html' %}
{% block title %}
  NFL Draft Tracker
{% endblock %}
{% block content %}

<script src="{{ url_for('static', filename='js/db.js') }}"></script>
<script src="{{ url_for('static', filename='js/toasts.js') }}"></script>

<div id="mainContainer" class="container p-1 text-white">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card m-2 border-secondary bg-dark text-white">
                <div class="card-header text-secondary">
                    Prospect Control
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">Add Prospects</h5>
                            <p class="card-text">Scrape the web for prospects, measurables, etc. This will build back the database if/when dropped. Expects a draft year. </p>
                        </div>
                        <div class="col-4 align-content-center">
                            <div class="input-group">
                                <input id="addProspectsClassInput" class="form-control" placeholder="Ex: 2023">
                                <button id="addProspectsBtn" class="btn btn-secondary" type="button" onclick="addProspects()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">Get Headshots</h5>
                            <p class="card-text">Will attempt to find and download headshots for any prospect without one.</p>
                        </div>
                        <div class="col-4 align-content-center">
                            <a class="btn w-100 btn-secondary" onclick="getHeadshots()">Get Headshots</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card m-2 border-secondary bg-dark text-white">
                <div class="card-header text-secondary">
                    Snapshots
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">Save Database Snapshot</h5>
                            <p class="card-text">Save a local database snapshot, includes prospects, picks, and current progress.</p>
                        </div>
                        <div class="col-4 align-content-center">
                            <div class="input-group">
                                <input id="dbSnapshotInput" class="form-control" placeholder="placeholder.db">
                                <button id="dbSnapshotSaveBtn" class="btn btn-secondary" type="button" onclick="saveSnapshot()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">Load Draft Snapshots</h5>
                            <p class="card-text">Will load supported draft snapshots, pick up in the middle of a draft or start fresh.</p>
                        </div>
                        <div class="col-4 align-content-center">
                            <div class="btn-group w-100" role="group">
                                <select class="form-select">
                                    <option selected>Choose Snapshot...</option>
                                    {% for file in backups %}
                                    <option value="{{file}}" onclick="backupSelected(this.value)">{{ file }}</option>
                                    {% endfor %}
                                </select>
                                <button id="restoreBackupBtn" type="button" class="btn btn-secondary" onclick="restoreBackup(this.getAttribute('data-filename'))" disabled>Load </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card m-2 border-danger bg-dark text-white">
                <div class="card-header text-danger">
                    Danger Zone
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">Drop Prospect Database</h5>
                            <p class="card-text">Drop the entire prospect database, this cannot be undone.</p>
                        </div>
                        <div class="col-4 align-content-center">
                            <a class="btn w-100 btn-danger" onclick="dropProspectsConfirm()">Drop Prospects</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">Drop Draft Pick Database</h5>
                            <p class="card-text">Drop the entire draft pick database, this cannot be undone. Picks will then have to be entered again from the <i>Draft Order</i> page.</p>
                        </div>
                        <div class="col-4 align-content-center">
                            <a class="btn w-100 btn-danger" onclick="dropDraftPicksConfirm()">Drop Draft Picks</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div id="modalContainer" class="container">

</div>
<div id="progressModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog bg-dark text-white">
        <div class="modal-content bg-dark">
            <div class="modal-body bg-dark">
                <div class="d-flex align-items-center">
                    <strong id="progressTitle">PLACEHOLDER</strong>
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="toastContainer" class="toast-container position-fixed bottom-0 end-0">

</div>

{% endblock %}
