{% extends 'base.html' %}
{% block title %}
  NFL Draft Tracker
{% endblock %}
{% block content %}

<script src="{{ url_for('static', filename='js/team.js') }}"></script>
<script src="{{ url_for('static', filename='js/bigBoard.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/draftPickCard.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general.css') }}">

<!-- Jinja Macros -->
{% from '/macros/teamSelector.html' import team_selector %}

<script>
  onload({{data|tojson}})
</script>

<div id="mainContainer" class="container p-1">
  <audio id="draftChime" src="{{ url_for('static', filename='sound/chime.mp3') }}"></audio>
  <audio id="tradeChime" src="{{ url_for('static', filename='sound/tradeChime.mp3') }}"></audio>
  <audio id="onTheClockAudio" src="{{ url_for('static', filename='sound/otc/CIN.mp3') }}"></audio>
  <div id="homePage" class="container p-2 text-white">
    <!-- DRAFT PICKS -->
    <div class="container-fluid" id="draftPickContainer">


    </div>
    <!-- MAIN CONTENT -->
    <div class="row p-0">
      <!-- BIG BOARD -->
      <div class="col-6" id="bigBoard">

      </div>
      <!-- TEAM CONTROL -->
      <div class="col-6">
        <!-- TEAM SELECTION -->
        <div class="row pt-1">
          <div class="col-9">
            {{ team_selector(teams, False, None) }}
          </div>
            <div class="col-3">
              <button id="tradeBtn" class=" btn btn-secondary w-100 text-white caps" onclick="tradeModal()">
                  <i class="bi bi-arrow-repeat"></i> Trade
              </button>
          </div>
        </div>
        <!-- TEAM PICKS -->
        <div id="teamControl" class="container">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modalContainer" class="container">

</div>
{% endblock %}
